<!-- @format -->

<footer class="footer">
	<section class="contact" id="contact">
		<div style="position:relative;overflow:hidden;" class="contact-map">
			<iframe src="https://yandex.ua/map-widget/v1/-/C0CiyYIV" frameborder="none" allowfullscreen="true"
				style="position:relative;" width="100%" height="100%"></iframe>
		</div>
		<div class="contact-wrapper type-editor container px-48 py-96">
			<div class="contact-row contact-row--top flex --just-space --align-end pb-24">
				<div class="contact-item">
					<span class="contact-item__title">Интернет-магазин</span>
					<a href="tel:88005119897" class="contact-item__link link --color-2 p --xl">8 (800) 511-98-97</a>
				</div>
				<div class="contact-item">
					<span class="contact-item__title">Санкт-Петербург</span>
					<a href="tel:+78124241864" class="contact-item__link link --color-2 p --xl">+7 (812) 424-18-64</a>
				</div>
				<div class="contact-item">
					<span class="contact-item__title">Офис</span>
					<a href="tel:+74997045575" class="contact-item__link link --color-2 p --xl">+7 (499) 704-55-75 </a>
				</div>
				<div class="contact-item">
					<span class="contact-item__title">WhatsApp</span>
					<a href="https://wa.me/89269929588" class="contact-item__link link --color-2 p --xl">8 (926) 992-95-88</a>
				</div>
			</div>
			<address class="contact-row contact-row--bottom flex --just-space --align-end pt-24">
				<div class="contact-item">
					<span class="contact-item__title">Адрес:</span>
					<a href="" class="contact-item__link link --color-2 p --xl">г. Москва ул. Фомичевой д.5 корп.2</a>
				</div>
				<div class="contact-item">
					<span class="contact-item__title">Почта:</span>
					<a href="mailto:info@amarylis.ru" class="contact-item__link link --color-2 p --xl">info@amarylis.ru</a>
				</div>
				<div class="contact-item">
					<span class="contact-item__title"></span>
					<a href="mailto:eshop@amarylis.ru" class="contact-item__link link --color-2 p --xl">eshop@amarylis.ru</a>
				</div>
				<div class="contact-item">
					<span class="contact-item__title">Режим работы:</span>
					<span class="contact-item__link --color-2 p --xl">ПН-ПТ - 10:00-19:00</span>
				</div>
			</address>
		</div>
	</section>
	<section class="basement" id="footer">

	</section>
</footer>