<!-- @format -->

<header class="header">
	<a href="#" class="logo">
		<img src="images/logo.svg" alt="Amarylis.logotype" class="logo__img" />
	</a>
	<nav class="header-menu">
		<ul class="menu-list header-menu__list">
			<li class="menu-list__item menu-list__item--current">
				<a href="#">Товары</a>
			</li>
			<li class="menu-list__item"><a href="#">О брендах</a></li>
			<li class="menu-list__item"><a href="#">Преимущества</a></li>
			<li class="menu-list__item"><a href="#">Доставка и оплата</a></li>
			<li class="menu-list__item"><a href="#">О компании</a></li>
			<li class="menu-list__item"><a href="#">Акции</a></li>
			<li class="menu-list__item"><a href="#">Контакты</a></li>
		</ul>
	</nav>
	<button class="header__call-wrapper" type="button">
		<span class="header__call-time">ПН-ПТ - 10:00-19:00</span>
		<img src="images/icons/whatsapp.svg" alt="" class="header__call-whatsapp" />
		<span class="header__call-phone">8 (800) 511-98-97</span>
		<span class="header__call-title">заказать звонок </span>
	</button>
	<a href="" class="attention-btn header__btn">
		<span class="header__btn-title">Получить</span>
		<svg
			width="10"
			height="26"
			viewBox="0 0 10 26"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path opacity="0.5" d="M1 1L9 13L1 25" stroke="white" />
		</svg>
		<span class="header__btn-text">индивидуальное предложение</span>
	</a>
</header>
