<div class="popup" id="popup-presentation">
  <div class="popup__wrap">
    <div class="popup__presentation --base popup-master py-96 px-56">
      <div class="popup__close js-popup__close"></div>

      <div class="type-carusel js-swiper__presentation">
        <div class="type-carusel__head flex --align-center --just-space mb-32">
        </div>
        <div class="type-carusel__swiper">
          <div class="type-carusel__btn --left --svg__carusel-arrow-dark--left swiper-button-prev"></div>
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide slide-presentation" id="present-1">

              </div>
              <div class="swiper-slide slide-presentation" id="present-2">

              </div>
              <div class="swiper-slide slide-presentation" id="present-3">

              </div>
              <div class="swiper-slide slide-presentation" id="present-4">

              </div>
              <div class="swiper-slide slide-presentation" id="present-5">

              </div>
              <div class="swiper-slide slide-presentation" id="present-6">

              </div>
              <div class="swiper-slide slide-presentation" id="present-7">

              </div>
              <div class="swiper-slide slide-presentation" id="present-8">

              </div>
              <div class="swiper-slide slide-presentation" id="present-9">

              </div>
              <div class="swiper-slide slide-presentation" id="present-10">

              </div>
            </div>
          </div>
          <div class="type-carusel__btn --right --svg__carusel-arrow-dark--right swiper-button-next"></div>

        </div>
        <div class="type-carusel__nav">
          <div class="type-carusel__pagination">
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>

      <div class="presentation-logo round round--l">

      </div>

      <h4 class="popup__title">Запрос предложения</h4>

    </div>
    <div class="popup__shade js-popup__close"></div>
  </div>
</div>