<section class="clients mt-80" id="clients">
  <h2 class="section-title clients-title">
    С нами уже работают:
  </h2>
  <div class="type-carusel js-swiper__clients">
    <div class="type-carusel__head flex --align-center --just-space mb-32">
    </div>
    <div class="type-carusel__swiper">
      <div class="type-carusel__btn --left --svg__carusel-arrow-dark--left swiper-button-prev"></div>
      <div class="swiper-container">
        <div class="swiper-wrapper clients-slider px-48">
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-1.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-2.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-3.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-4.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-5.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-6.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-7.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-8.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-9.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-10.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-11.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-12.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-13.png" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-14.jpg" alt="" class="clients-slide__img lazy">
          </div>
          <div class="swiper-slide clients-slide flex --just-center --align-center">
            <img data-src="img/brands-logo/client-15.png" alt="" class="clients-slide__img lazy">
          </div>
        </div>
      </div>
      <div class="type-carusel__btn --right --svg__carusel-arrow-dark--right swiper-button-next"></div>
    </div>
    <div class="type-carusel__nav">
      <div class="type-carusel__pagination">
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>