<section class="hero flex --just-center --align-center py-32" id="hero">
  <div class="hero-text col --7 type-editor mx-128">
    <h1 class="hero-title">Косметика оптом:</h1>
    <h2 class="hero-subtitle">
      увеличивайте свою прибыль вместе с компанией Амарилис!
    </h2>
    <ul class="hero-list --check">
      <li class="hero-list__item">
        <strong>
          Отгрузка с собственных складов в Москве и Санкт-Петербурге
        </strong>
        в течение 24 часов с момента заказа
      </li>
      <li class="hero-list__item">
        <strong>
          Отличная поддержка дилеров:
        </strong>
        обучение персонала, рекламные материалы и презентации,
        консультации по ассортименту
      </li>
      <li class="hero-list__item">
        <strong>
          Удобные варианты отгрузки и оплаты,
        </strong>
        гибкое формирование цены на ассортиментную матрицу
      </li>
    </ul>
    <div class="hero-propose mt-40 flex --align-center --no-wrap">
      <span class="hero-propose__text">
        Получите
        <strong>индивидуальное</strong>
        предложение
      </span>
      <a data-popup="#popup-request" class="hero-propose__btn btn --fill-1 --l --round-bdr --shadow-rose">Получить</a>
    </div>
  </div>

  <div class="hero-bubbles col --7">
    <div class="hero-row hero-row--top flex --just-center --align-end">
      <div class="round round--m flex --align-center --just-center">
        <img data-src="img/brands-logo/haan.png" alt="Haan logo" class="round__logo lazy" />
      </div>
      <div class="round round--l flex --align-center --just-center my-24">
        <img data-src="img/brands-logo/treaclemoon.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--l round--mavala flex --align-center --just-center mr-24">
        <img data-src="img/brands-logo/mavala.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--m flex --align-center --just-center">
        <img data-src="img/brands-logo/amend.png" alt="" class="round__logo lazy" />
      </div>
    </div>

    <div class="hero-row hero-row--middle flex --just-center --align-center">
      <div class="round round--s flex --align-center --just-center mr-48"></div>
      <div class="round round--l flex --align-center --just-center">
        <img data-src="img/brands-logo/solomeya.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--xl flex --align-center --just-center my-24">
        <img data-src="img/brands-logo/kocostar.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--l flex --align-center --just-center ">
        <img data-src="img/brands-logo/selfie-star.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--s flex --align-center --just-center ml-48"></div>
    </div>

    <div class="hero-row hero-row--bottom flex --just-center --align-start">
      <div class="round round--m flex --align-center --just-center">
        <img data-src="img/brands-logo/heart.png" alt="" class="round__logo round__logo--heart lazy" />
      </div>
      <div class="round round--l round--kiss flex --align-center --just-center my-24">
        <img data-src="img/brands-logo/kiss.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--l flex --align-center --just-center mr-24">
        <img data-src="img/brands-logo/hello-ganic.png" alt="" class="round__logo lazy" />
      </div>
      <div class="round round--m round--v10 flex --align-center --just-center">
        <img data-src="img/brands-logo/v10.png" alt="" class="round__logo lazy" />
      </div>
    </div>
  </div>
  <a href="#start" class="down-btn">Пролистать дальше</a>
</section>