<section class="product mt-72" id="product">
  <h2 class="section-title product__title mb-16">Наша продукция</h2>
  <div class="product-link__wrapper flex --just-center">
    <a href="#" class="product-btn btn --no-fill --s">ОПТ</a>
    <a href="#" class="product-btn btn --no-fill --s">Розница</a>
  </div>
  <div class="product-wrapper flex --just-center --align-stretch mt-48">
    <article class="product-item product-item--hit mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item product-item--new mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item product-item--hit mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item product-item--new mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item product-item--hit mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>

    <article class="product-item product-item--new mb-32 py-32 pb-32">
      <div class="product-item__img">
        <img src="img/content/product-1.jpg" alt="" />
        <div class="product-item__label product-item__label--hit">
          хит
        </div>
        <div class="product-item__label product-item__label--new">
          new
        </div>
      </div>
      <div class="product-item__brand mt-16">
        <a href="#" class="brand-link">Solomeya</a>
        <span class="brand-articul">Арт: ????</span>
      </div>
      <p class="product-item__description b">
        Solomeya Универсальное антибактериальное средство (спрей) / Universal Sanitizer (spray) (100 мл) Хит
      </p>
      <p class="product-item__description product-item__description-sub">
        Аромат "Древесный акцент" наполнен приятными терпкими нотками ночного леса.
      </p>
      <div class="product-item__sale">
        <div class="product-item__box">
          <span class="product-item__price">280 ₽</span>
          <span class="product-item__amount">Продажа от 10 шт</span>
        </div>
        <a href="#popup-trade" class="product-item__order btn --border-1 --s" data-popup="#popup-trade">Заказать</a>
      </div>
    </article>
  </div>
  <div class="product-bottom flex --direction-column">
    <h4 class="product-bottom__title">Для <strong>розничной</strong> покупки продукции
      перейдите в наш магазин</h4>
    <a href="#"
      class="product-bottom__link start-btn btn --fill-1 --l --round-bdr --shadow-rose flex --align-center mt-24">Перейти
      в интернет магазин</a>
  </div>
</section>