<section class="also flex --just-space --align-center --direction-column pt-64" id="also">
  <div class="also-desc h5 --b">Смотрите также</div>
  <h2 class="section-title also-title">Косметика оптом</h2>
  <a href="#" class="also-link p --l b pr-24">подробнее
  </a>
  <div class="also-wrapper">
    <div class="also-row flex --align-center --just-center">
      <div class="round round--l flex --align-center --just-center"><img src="img/brands-logo/solomeya.png" alt="">
      </div>
      <div class="round round--xl flex --align-center --just-center"><img src="img/brands-logo/kocostar.png" alt="">
      </div>
      <div class="round round--l flex --align-center --just-center"><img src="img/brands-logo/selfie-star.png" alt="">
      </div>
    </div>
    <div class="also-row also-row--bottom flex --align-center --just-center">
      <div class="round round--m flex --align-center --just-center"><img src="img/brands-logo/haan.png" alt=""></div>
      <div class="round round--l flex --align-center --just-center"><img src="img/brands-logo/treaclemoon.png" alt="">
      </div>
      <div class="round round--l round--mavala flex --align-center --just-center"><img src="img/brands-logo/mavala.png"
          alt=""></div>
      <div class="round round--m flex --align-center --just-center"><img src="img/brands-logo/amend.png" alt=""></div>
    </div>
  </div>
</section>