<section class="awards mt-80" id="awards">
  <h2 class="section-title awards-">
    Дипломы и награды
  </h2>
  <div class="type-carusel js-swiper__awards">
    <div class="type-carusel__swiper">
      <div class="type-carusel__btn --left --svg__carusel-arrow-dark--left swiper-button-prev"></div>
      <div class="swiper-container">
        <div class="swiper-wrapper awards-wrapper px-48">
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom1.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom2.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom3.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom2.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom1.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom2.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom3.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom2.jpg" alt="" class="awards-slide__img lazy">
          </div>
          <div class="swiper-slide awards-slide flex --align-center --just-center">
            <img data-src="img/content/diplom1.jpg" alt="" class="awards-slide__img lazy">
          </div>
        </div>
      </div>
      <div class="type-carusel__btn --right --svg__carusel-arrow-dark--right swiper-button-next"></div>
    </div>
  </div>
</section>