<section class="hero flex --just-center --align-center py-32" id="hero">
  <div class="hero-text col --8 type-editor mx-128" id="hero">

    <h1 class="hero__title">
      <span class="hero__title-accent">Закажите универсальный антисептик для рук и
        поверхностей</span>
      от официального дистрибютора в РФ - компании Amarylis
    </h1>
    <p class="hero__desc --xl mb-32">
      <strong>Содержит 70% изопропилового спирта:</strong>
      благодаря которому после нанесения в течение нескольких секунд
      убиваются 99,9% микробов и бактерий
    </p>
    <ul class="hero-list">
      <li class="hero-list__item">
        <strong>Различные объемы в наличии: 30мл, 100мл, 150мл,
          500мл</strong>
      </li>
      <li class="hero-list__item">
        <strong>Уничтожают 99,9% вирусов и бактерий</strong>
      </li>
      <li class="hero-list__item">
        <strong>Содержат увлажняющие кожу вещества</strong>
      </li>
      <li class="hero-list__item">
        <strong>Оптовые и розничные продажи</strong>
      </li>
    </ul>
  </div>

  <div class="hero__image-box col --6">
    <img src="img/content/hero-picture.png" alt="" />
    <div class="hero__image-star">
      <img src="img/euro-stars.svg" alt="" />
      <span class="star-text">Антисептики из Европы</span>
    </div>
  </div>
  <a href="#product" class="down-btn">Пролистать дальше</a>
</section>