.img.--full-width {
	width: 100%;
	max-width: 100%;
}

.type-editor p img {
	width: 100%;
	max-width: 100%;
	border-radius: 1rem;
}

.img.--round {
	border-radius: 1rem;
}

.img.--round-min {
	border-radius: .5rem;
}

@media screen and (max-width: 1024px) {  

}

@media screen and (max-width: 990px) {      


}    

@media screen and (max-width: 768px) {  

}

@media screen and (max-width: 640px) {  

	.img__wraper:after {
		display: none;
	}
	
}