/** @format */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
	position: relative;
	font-size: 16px;

	@media screen and (max-width: 1670px) {
		font-size: 15px;
	}

	@media screen and (max-width: 1570px) {
		font-size: 14px;
	}

	@media screen and (max-width: 1470px) {
		font-size: 13px;
	}

	@media screen and (max-width: 1370px) {
		font-size: 12px;
	}

	@media screen and (max-width: 1270px) {
		font-size: 11px;
	}

	@media screen and (max-width: 1170px) {
		font-size: 10px;
	}

	@media screen and (max-width: 1070px) {
		font-size: 9px;
	}

	@media screen and (max-width: 1023px) {
		font-size: 12px;
	}
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat Alternates, sans-serif;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: "ProximaNova", sans-serif;
	line-height: 1.33;
	position: relative;

}

a {
	text-decoration: none;
}

a,
button {
	transition: all 0.3s;
}

button:focus,
input:focus {
	outline: transparent;
}

main {
	overflow: visible;
	margin-top: 7.5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

.container {
	margin: 0 auto;
	max-width: 86.25rem;
	padding: 0 1.875rem;
}

.--round-bdr {
	border-radius: 50em;
}

.--no-wrap {
	flex-wrap: nowrap;
}

.--shadow-rose {
	box-shadow: 0rem 0.5rem 2rem rgba(206, 0, 88, 0.2),
		0 0 0 0.75rem rgba(206, 0, 88, 0.04);
}

.btn.--fill-1:hover {
	color: var(--color__white);
}

.container-fluid {
	padding: 0 4rem;
	max-width: 100%;
	max-width: 100vw;
	overflow-x: hidden;

	@media screen and (max-width: 800px) {
		padding: 0 3rem;
	}

	@media screen and (max-width: 600px) {
		padding: 0;
	}
}

.attention-btn {
	padding: 1.25rem 2.5rem;
	box-shadow: 0 0.5rem 2rem rgba(206, 0, 88, 0.2);
	border-radius: 3.5rem;
	background-color: $rose;
	color: #ffffff;

	&:hover {
		box-shadow: none;
	}
}

.section-title {
	font-family: Montserrat Alternates;
	font-weight: 600;
	font-size: 2.5rem;
	line-height: 1.2;
	text-align: center;
}

.section-description {
	text-align: center;
}


ul.--check li {
	margin: 1.25rem 0;
	padding-left: 2.5rem;
	position: relative;
	font-size: 1rem;
	line-height: 1.25rem;
	color: var(--color__text-1);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 6px;
		width: 1.5rem;
		height: 1.5rem;
		border-radius: 1.5rem;
		background-color: var(--color__fill-1);
		background-repeat: no-repeat;
		background-position: center .2rem;
		top: -.15rem;
		background-size: 1rem;
		background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 5.33329L7.33333 16L2 10.6666' stroke='white' stroke-width='4'/%3E%3C/svg%3E%0A");
	}
}

ul.--dotted li {
	margin: 1rem 0;
	padding-left: 1rem;
	position: relative;
	font-size: 1rem;
	line-height: 1.25rem;
	color: var(--color__text-1);

	&::after {
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		@include centering;
		width: .3rem;
		height: .3rem;
		border-radius: 50%;
		background-color: var(--color__fill-1);
	}
}